.App {
  &.dimmed {
    transition-duration: 0.3s;
    background-color: #948d8d;
  }

  .lang {
    clear: both;
  }

  .work {
    text-align: center;
  }
  
  .title-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fade-section-arrow {
    position: -webkit-sticky;
    position: sticky;
    top: 92vh;
    left: 5px;
    z-index: 2;

  }

  .scroll-arrow {
    opacity: 0.7;
    
    &:hover {
      cursor: pointer;
    }
  }
}