.App {
  text-align: center;

  &.dimmed {
    transition-duration: 0.3s;
    background-color: #948d8d;
  }

  .lang {
    clear: both;
  }
  
  .title-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .down-arrow {
    position: absolute;
    bottom: 5vh;
    left: 50%;
    margin-left: -24px;

  }
}