.triangle {
    width: 200px;
    height: 150px;
    overflow: auto;

    .uni {
        position: relative;
        top: 20%;
    }

    .date {
        position: relative;
        top: 15%;
    }
}

.left-triangle {
    z-index: -1;
    position: relative;
    shape-outside: polygon(0 100%, 0 0, 100% 0);
    clip-path: polygon(100% 100%, 100% 0, 0 100%);
    float: left;
    width: 50%;
    height: 100%;
    background-color: grey;
}

.right-triangle {
    z-index: -1;
    position: relative;
    shape-outside: polygon(100% 100%, 0 0, 100% 0);
    clip-path: polygon(100% 100%, 0 0, 0 100%);
    float: right;
    width: 50%;
    height: 100%;
    background-color: grey;
}