.Home {
  &.dimmed {
    transition-duration: 0.3s;
    background-color: #948d8d;
  }

  .lang {
    clear: both;
  }

  .work {
    text-align: center;
  }
  
  .title-page {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title-page-arrow {
    position: absolute;
    bottom: 5vh;
  }

  .fade-section-arrow {
    position: -webkit-sticky;
    position: sticky;
    top: 92vh;
    left: 5px;
    z-index: 2;

  }

  .scroll-arrow {
    opacity: 0.7;
    
    &:hover {
      cursor: pointer;
    }
  }

  .down-arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
    animation: bob 0.7s infinite alternate;
  }

  @keyframes bob {
    0% {transform: translateY(0);}
    100% {transform: translateY(-10px);}
  }
}