.square {
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: lightblue;
    border: 3px solid lightgray;
    margin: 15px;
}