.container {
    position: fixed;
    background-color: slategrey;
    top: 20%;
    left: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    width: 80%;
    height: 60%;
    margin: auto;
}

.topLeftButton {
    position: absolute;
    right: 0%;
    top: 0%;
}